*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    margin-left: 1rem;
}

#div-integrantes,
#container,
#boton-calcular,
#div-salarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    height: 100%;
}

.display-none {
    display: none;
}